<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        criticalmass.live
    </title>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('bundles/app/js/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/app/js/Live.js') }}"></script>

    {% block head %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/live.css') }}"/>
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{{ path('caldera_criticalmass_live_frontpage') }}">
            criticalmass.live
        </a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span class="hidden-xs-down">
                    Was ist die Masse?
                </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                    <span class="hidden-xs-down">
                    Live Tracking?
                </span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#legalModal">
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    <span class="hidden-xs-down">
                    Impressum?
                </span>
                </a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}

{% include('AppBundle:Includes:_legalModal.html.twig') %}

<script src="{{ asset('bundles/app/js/jquery/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/bootstrap.min.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>

