{% extends 'AppBundle:Template:MasterTemplate.html.twig' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/leaflet.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fa-4.6.3.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/css/extramarkers.css') }}" />

    <meta property="og:title" content="{{ city.title }} Live Tracking: Verfolge die Critical Mass online" />
    <meta property="og:description" content="Schau dir an, wo die Critical Mass in {{ city.name }} gerade unterwegs ist." />

    <meta property="og:title" content="{{ city.title }} Live Tracking: Verfolge die Critical Mass online" />
    <meta name="twitter:description" content="Schau dir an, wo die Critical Mass in {{ city.name }} gerade unterwegs ist." />
{% endblock %}

{% block content %}
<div id="map">
    <div id="glympse-logo-container">
        <a href="http://www.glympse.com/">
            <img id="glympse-logo" src="/bundles/app/img/glympse-250.png" alt="Glympse-Logo" />
        </a>
    </div>
</div>

<script>
    {% if ride.hasLocation %}
    Live.loadModule('LivePage', null, { latitude: {{ ride.latitude }}, longitude: {{ ride.longitude }} });
    {% else %}
    Live.loadModule('LivePage', null, { latitude: {{ city.latitude }}, longitude: {{ city.longitude }} });
    {% endif %}
</script>
{% endblock %}

